<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Human Interface</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="width: 100%;height:100%;">
        <a class="navbar-brand">Human Interface</a>
    </nav>
    <br/><br/>
    <div id="content" class="container" style="width: 100%;">
        <div class="row">
            <!-- General information panel -->
            <div class="col">
                <span> </span>
                <p id="frame_id">Current Frame: 0</p>
                <p id="frame_num">Total Frame: 0</p>
                <p id="frame_shape">Frame Shape: 0*0</p>
                <form>
                    <div class="form-group row">
                        <label for="frame_time" class="col-sm-5 col-form-label">Frame Time (millisecond): </label>
                        <div class="col-sm-5">
                            <input type="number" class="input form-control" id="frame_time" min="0" value="200" onchange="setFrameTime()">
                        </div>
                    </div>
                </form>
            </div>
            <!-- Image observation and control -->
            <div class="col">
                <canvas id="canvas"></canvas>
                <br/><br/>
                <button type="button" class="btn btn-secondary" onclick="nextFrame()">Next</button>
                <button type="button" class="btn btn-secondary" onclick="previousFrame()">Previous</button>
                <button type="button" class="btn btn-secondary" onclick="autoPlay()">Play</button>
                <button type="button" class="btn btn-secondary" onclick="stopAutoPlay()">Pause</button>
                <br/><br/>
                <button type="button" class="btn btn-secondary" onclick="clearCanvas()">Clear</button>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
        /**
         * ***********************
         * ***********************
         * Webpage Initialization
         * ***********************
         * ***********************
         * **/
        async function initPage() {
            initCanvas();
            await showFrame(0);
        }

        window.addEventListener('load', () => initPage(), false);

        /**
         * *****************
         * *****************
         * Frame Control
         * *****************
         * *****************
         * **/
        var frameId = 0;
        var numFrames = 6;
        var autoPlaying = false;
        var frameTime = 200;

        // Safe async setInterval function
        function setIntervalAsync(func, interval) {
            let startTime = Date.now();
            func().then(() => {
                if(autoPlaying) {
                    let endTime = Date.now();
                    // guarantee a fixed delay of interval
                    let waitTime = Math.max(0, interval - (endTime - startTime));
                    setTimeout(() => setIntervalAsync(func, interval), waitTime);
                }
            });
        }

        async function showFrame(id) {
            // fetch frame information
            const response = await fetch('http://127.0.0.1:5000//frame//info?id='+id);
            const frameInfo = await response.json();
            // fetch frame image
            let imgSrc = 'http://127.0.0.1:5000//frame?id=' + id;
            updateInfoPanel(frameInfo);
            updateCanvas(imgSrc, frameInfo);
            return 0;
        }

        function updateInfoPanel(frameInfo) {
            document.getElementById("frame_id").innerHTML = "Current Frame: " + frameId;
            numFrames = frameInfo["num_frames"];
            document.getElementById("frame_num").innerHTML = "Total Frames: " + numFrames;
            document.getElementById("frame_shape").innerHTML = "Frame Shape: " + frameInfo["rgb_obs_height"]
                + "*" + frameInfo["rgb_obs_width"]
        }

        async function nextFrame() {
            frameId = (frameId + 1) % numFrames;
            await showFrame(frameId);
            return 0;
        }

        async function previousFrame() {
            frameId = Math.max(0, frameId - 1);
            await showFrame(frameId);
            return 0;
        }

        function autoPlay() {
            autoPlaying = true;
            setIntervalAsync(nextFrame, frameTime);
        }

        function stopAutoPlay() {
            autoPlaying = false;
        }

        function setFrameTime() {
            frameTime = document.getElementById("frame_time").value.valueOf();
        }

        /**
         * *****************
         * *****************
         * Canvas Control
         * *****************
         * *****************
         * **/
        var canvas;
        var ctx;
        var canvasSnapshot;
        var canvasBackgroundImg;
        var currentFrameImage;
        var currentFrameInfo;
        var currentBoxes = [];  // existed bounding boxes created by the user
        var drawingBox = [0, 0, 0, 0];    // the bounding box that the user is creating by moving mouse
        var isDraggingBox = false; // true if the user is moving the mouse to locate a bounding box

        function initCanvas() {
            canvas = document.getElementById("canvas");
            ctx = canvas.getContext("2d");

            // init background of the canvas
            canvasBackgroundImg = new Image();
            canvasBackgroundImg.onload = function(event) {
                ctx.canvas.width = canvasBackgroundImg.width;
                ctx.canvas.height = canvasBackgroundImg.height;
                canvas.width = canvasBackgroundImg.width;
                canvas.height = canvasBackgroundImg.height;
                ctx.drawImage(canvasBackgroundImg, 0, 0);
            };
            canvasBackgroundImg.style.display = "block";

            canvas.addEventListener('mousedown', startBoundingBoxPos, false);
            canvas.addEventListener('mouseup', endBoundingBoxPos, false);
            canvas.addEventListener('mousemove', dragBoundingBoxPos, false);
        }

        function getCanvasCoordinates(event) {
            let x = event.clientX - canvas.getBoundingClientRect().left;
            let y = event.clientY - canvas.getBoundingClientRect().top;
            return {x: x, y: y};
        }

        function takeSnapshot() {
            canvasSnapshot = ctx.getImageData(0, 0, canvas.width, canvas.height);
        }

        function restoreSnapshot() {
            ctx.putImageData(canvasSnapshot, 0, 0);
        }

        function drawBoundingBox(xMin, xMax, yMin, yMax) {
            ctx.beginPath();
            ctx.strokeStyle = "red";
            ctx.lineWidth = "3";
            ctx.rect(xMin, yMin, xMax - xMin, yMax - yMin);
            ctx.stroke();
            ctx.font = "10px Arial";
        }

        function startBoundingBoxPos(event) {
            isDraggingBox = true;
            let pos = getCanvasCoordinates(event);
            drawingBox = [pos.x, 0, pos.y, 0];
            takeSnapshot();
        }

        function dragBoundingBoxPos(event) {
            if(isDraggingBox) {
                restoreSnapshot();
                let pos = getCanvasCoordinates(event);
                drawingBox[1] = pos.x;
                drawingBox[3] = pos.y;
                drawBoundingBox(drawingBox[0], drawingBox[1], drawingBox[2], drawingBox[3]);
            }
        }

        function endBoundingBoxPos(event) {
            isDraggingBox = false;
            // save the new box
            currentBoxes.push(drawingBox);
        }

        function updateCanvas(imgSrc, frameInfo) {
            currentFrameImage = imgSrc;
            currentFrameInfo = frameInfo;
            canvasBackgroundImg.src = imgSrc;
        }

        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            updateCanvas(currentFrameImage, currentFrameInfo);
        }

        /**
         * ******************
         * ******************
         * Server Connection
         * ******************
         * ******************
         * **/
        function updateBoundingBoxes(boundingBoxes) {

        }

    </script>
</body>
</html>